/* ---- CSS DEBUG ---- */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

html {
	min-height: 100%;
	position: relative;
}

body {
    min-height: 100%;
    background-color: #17243e;
    color: white;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

/* ---- Fonts ---- */
h1, .h1 {
    font-size: 1.6em;
}

h2, .h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}


/* ---- Layout ---- */
.container {
	padding-left: 1em;
    padding-right: 1em;
}

.col {
    margin: 0 0 3em 0;
}

.col-center {
    margin: 3em auto;
}


/* ---- Misceallanous ---- */
button {
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: orange;
    border: 0;
}

a {
    color: white;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}


/* ---- header ---- */

header {
    margin-top: 2em;
    text-align: center;
}

.header-title {
    display: block;
}

header button {
    position: relative;
    color: white;
    background-color: transparent;
}

.headerNav-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.headerNav-link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.headerNav-link:hover {
    color: orange;
    text-decoration: underline;
}


/* ---- footer ---- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #17243e;
    text-align: center;
    font-size: 75%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* ---- addExpense ---- */
.addExpense {
    margin-bottom: 3em;
}

.addExpense-inputLabel {
    font-weight: 600;
    margin-bottom: 0.2em;
}

.addExpense .addExpense-input {
    padding: 5px;
    height: 50px;
    width: 100%;
}

.addExpense-button {
    display: block;
    width: 100%;
    background-color: orange;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 8px 16px;
    box-shadow:  1px 3px 0 rgba(0,0,0,0.2);
    font-family: Arial, Helvetica, sans-serif;
}

.addExpense-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}


/* ---- expenseTotal ---- */
.expenseTotal {
    margin-bottom: 1em;
}


/* ---- expenseTable ---- */
.expensesTable {
    width: 100%;
    border: 2px solid #142037;
    border-spacing: 0;
}

.expensesTable thead {
    font-weight: 700;
    background-color:#10192b;
}

.expensesTable td {
    padding: 16px 20px 16px 16px;
}

.expensesTable td:nth-child(even) {
    text-align: center;
}

.expensesTable tr:nth-child(even) {
    background-color: #2e3951;
}

.expensesTable-expensesTableCategory {
    text-transform: capitalize;
}


/* expenseChart */
.expenseChart-title {
    text-align: center;
}


/* ---- Forms ---- */
label {
    display: block;
    width: 100%;
}

input, select {
    margin-bottom: 1em;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 737px) {
    /* ---- Fonts ---- */
    h1, .h1 {
        font-size: 2.75em;
    }

    h2, .h2 {
        font-size: 2em;
    }

    .header-title {
        min-width: 600px;
    }

    /* ---- Columns layout ---- */
    .container {
        margin: 0 auto;
        max-width: 1170px;
    }

	.col {
        float: left;
        margin: 3em 0 3em 0;
	}

	.col + .col {
		padding-left: 1em;
    }

    .col-center {
        width: 40%;
    }

    .primary {
        width: 40%;
    }

    .secundairy {
        width: 60%;
    }

	.col:last-child {
		padding-right: 0;
	}

    /* ---- header ---- */

    .header-buttonPrevMonth {
        right: 320px;
        bottom: 54px;
    }

    .header-buttonNextMonth {
        left: 320px;
        bottom: 54px;
    }

	/* ---- Float clearfix ---- */
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}